@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff42a5;
  --secondery-color: #4ec5f7;
  --black: #0b0223;
  --text-color: #534c64;
  --yt-color: #f61c0d;
  --white: #fff;
}

.fixed-width {
  width: calc(100% - 300px);
  margin: auto;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
}

.primary-btn {
  background-color: var(--primary-color);
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.primary-btn :hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.3s all ease-in-out;
}
.secondery-btn {
  background-color: var(--secondery-color);
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
button {
  margin-right: 10px;
}
.heading-liniyar {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header css start */
/* nav CSS start */
.header {
  background-color: #fff;
  box-shadow: 1px 10px 10px #e3e3e342;
  position: sticky;
  top: 0px;
}
nav {
  padding: 30px 0px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
}
.logo h3 {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
}
.logo h3 span {
  color: var(--primary-color);
}

.menu > ul {
}
.menu li {
  margin-left: 30px;
  display: inline-block;
}
.menu li a {
  color: var(--black);
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
}
.menu li:last-child a {
  background-color: rgba(11, 2, 35, 0.1);
}
.menu li a i {
  font-size: 20px;
  margin: 0px 3px;
}
.menu li a i:nth-child(1) {
  color: var(--yt-color);
}

/* banner section start */
.banner {
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 50px 0px;
}
.banner-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  align-items: center;
  display: flex;
}
.banner-left {
  width: 50%;
}
.banner-left h3 {
  color: var(--black);
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-left h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.banner-img-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.mtb {
  margin-bottom: 30px;
}

.banner-img-box span {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.banner-right {
  text-align: end;
  width: 50%;
}
.banner-right img {
  width: 90%;
}

/* about us CSS */

.about {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 50px;
}
.about-us {
  display: flex;
  align-items: center;
}
.about-img {
  width: 65%;
}
.about-img img {
  padding-right: 50px;
}
.about-content {
  text-align: right;
  width: 35%;
}
.about-content h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-content p {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 25px;
}
.about-content button {
  text-align: end;
  margin-bottom: 25px;
}
.about-content span {
  display: block;
  color: #534c64;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.about-content h3 {
  color: #534c64;
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
}

/* online video CSS */

.online {
  padding: 120px 0px;
}
.online-content {
  text-align: center;
}
.online-content h1 {
  font-size: 45px;
  font-weight: 700;
  color: var(--black);
}
.online-content p {
  font-size: 18px;
  margin-top: 18px;
  color: var(--text-color);
}

.online-video {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.online-box {
  position: relative;
}
.online-box img {
}
.online-box p {
}

.hover-box {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90%;
  width: 100%;
  border-radius: 15px;
  background: #00000073;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
.hover-box .box h4 {
  color: var(--primary-color);
}
.hover-box h4 {
  font-size: 20px;
}
.online-video > :hover .hover-box {
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

/* game theme section */

.game-theme {
  padding-bottom: 170px;
}
.game-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.game-left {
  text-align: right;
  padding-right: 20%;
}
.game-left h3 {
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
}
.game-left h3 span {
  color: var(--primary-color);
}
.game-left p {
  color: var(--text-color);
  font-size: 18px;
}
.game-right {
  position: relative;
  text-align: end;
}
.game-right-img1 {
  width: 85%;
}
.game-right-img {
  position: absolute;
  width: 270px;
  left: -25px;
  bottom: -80px;
}

/* careers section css */

/* .careers {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding-left: 300px;
}
.careers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.careers-content {
}
.careers-content h3 {
}
.careers-content p {
}
.careers-inner {
  display: flex;
}
.careers-box {
}
.careers-box ul {
}
.careers-box ul li {
}
.careers-img {
  padding: 120px 0;
}
.careers-img img {
} */

/* game type CSS */

.game-type {
  padding: 120px 0px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.game-type-data {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.game-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--white);
  border-radius: 50px;
  border: 1px solid var(--white);
}
.game-box:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: 0.3s all ease-in-out;
}
.game-box img {
  width: 40px;
  margin-right: 10px;
}
.game-box span {
  color: var(--text-color);
  font-size: 18px;
}
.game-box:hover span {
  color: var(--primary-color);
  transition: 0.3s all ease-in-out;
}

/* footer CSS start */

footer {
  padding: 120px 0px;
  background: #0b0223;
  text-align: center;
}
.footer-box-one {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}
.footer-box-one img {
  margin-right: 10px;
}
.footer-box-one h1 {
  color: var(--white);
  font-size: 45px;
  font-weight: 700;
}
.footer-box-one h1 span {
  color: var(--primary-color);
}
.footer-box-two {
  margin-bottom: 50px;
}
.footer-box-two ul {
}
.footer-box-two ul li {
  display: inline-block;
}
.footer-box-two ul li a {
  display: inline-block;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
}
.footer-box-three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-box-three img {
  width: 30px;
  margin: 0px 12px;
}
.footer-box-four {
  margin-top: 50px;
}
.footer-box-four li {
  display: inline-block;
}
.footer-box-four li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
}
.footer-box-five {
  text-align: center;
  margin-top: 10px;
}
.footer-box-five span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
