@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff42a5;
  --secondery-color: #4ec5f7;
  --black: #0b0223;
  --text-color: #534c64;
  --yt-color: #f61c0d;
  --white: #fff;
}

.fixed-width {
  width: 1300px;
  margin: auto;
}
a {
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
}

.primary-btn {
  background-color: var(--primary-color);
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.secondery-btn {
  background-color: var(--secondery-color);
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
button {
  margin-right: 10px;
}
.heading-liniyar {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header css start */
/* nav CSS start */
.header {
  background-color: #fff;
  box-shadow: 1px 10px 10px #e3e3e3;
}
nav {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
}
.logo h3 {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
}
.logo h3 span {
  color: var(--primary-color);
}

.menu > ul {
}
.menu li {
  margin-left: 30px;
  display: inline-block;
}
.menu li a {
  color: var(--black);
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
}
.menu li:last-child a {
  background-color: rgba(11, 2, 35, 0.1);
}
.menu li a i {
  font-size: 20px;
  margin: 0px 3px;
}
.menu li a i:nth-child(1) {
  color: var(--yt-color);
}

/* banner section start */
.banner {
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 50px 0px;
}
.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.banner-left h3 {
  color: var(--black);
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-left h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.banner-img-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.mtb {
  margin-bottom: 30px;
}

.banner-img-box span {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.banner-right {
  text-align: end;
}
.banner-right img {
  width: 90%;
}

/* online video CSS */

.online {
  padding: 120px 0px;
}
.online-content {
  text-align: center;
}
.online-content h1 {
  font-size: 45px;
  font-weight: 700;
  color: var(--black);
}
.online-content p {
  font-size: 18px;
  margin-top: 18px;
  color: var(--text-color);
}

.online-video {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.online-box {
  position: relative;
}
.online-box img {
}
.online-box p {
}

.hover-box {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90%;
  width: 100%;
  border-radius: 15px;
  background: #00000073;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
.hover-box img {
}
.hover-box h4 {
  font-size: 20px;
}
.online-video > :hover .hover-box {
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
